/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2017, 8:42:52 PM
    Author     : locomotion
*/

/* Vertical Navigation Bar*/

div#navbar {
    clear: both;
    width: 100%;
}
div#navbar ul {
    
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

div#navbar li {
    float: left;
    border-right:1px solid #bbb;    
}

div#navbar li:last-child {
/*    border-right: none;*/
    float:right;
}

div#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

div#navbar li a.active {
    background-color: #4CAF50;
    color: white;
}

div#navbar li a:hover:not(.active) {
    background-color: #111;
}


    
/* End Navigation Bar*/

h1       { font-family: tahoma, helvetica, sans-serif;}
p        { font-size: 12pt; text-align: justify; font-family: arial, sans-serif;  }
section  {width: 90%; border-top: 1.5px solid black; margin: 15px auto;}
footer  {width: 90%; border-top: 1.5px solid black; margin: 15px auto;}

img#myPhoto { /* con # afectamos sólo al elemento con el  id="myPhoto"*/
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
    /* marco */
    padding: 1px; 
    background: black; /*color del marco*/
    border-radius: 15px;
}

.centerText{ text-align: center;}                           

.showMyBox{ 

    /*       border-style: solid; 
             border-style: solid;
             border-width: thin;
             border-color: black;
    */
}         
/* Links change their appearance when the user hovers the mouse over them*/
a:hover{ font-weight: bold; text-decoration: none}

meter.skills { 
    width: 90%;  
}

meter::-webkit-meter-optimum-value {
  background: #290066;
}
meter::-moz-meter-bar { /* Firefox Pseudo Class */
  background: indigo;
}

div.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 80%;
    margin-left: 10%;

}

p.flex-item {
    background-color: rgba(0, 0, 0, 0); /*transparente*/
    width: 100%;
}

/* background color change depending if the page is show in any media, or 
   on a printed page */
@media all
{
    /*body  { background-color: #cccccc; }*/                       
    body{
        /* top rieght gradient*/
        background: -webkit-radial-gradient(top right,  #808080, white);
        background: -moz-radial-gradient(top right,  #808080, white);
        background: radial-gradient(top right,  #808080, white);

    }

    p     { font-size: 12pt;
            font-family: arial, sans-serif;}
} 

/* adaptación al tamaño de pantalla*/
@media screen and (max-width: 900px) {
    div#navbar ul {
        width: 100%;
        height: auto;
        position: relative;
    }
    div#navbar ul li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    div#navbar ul a {
        text-align: center;
        float: none;
    }
}
    

/* formato para impresión (e.g pdf files))*/
@media print
{
    div#navbar{display:none;} /* hide navigation bar*/
    body  { background-color: white; }
    p     { font-size: 14pt;
            font-family: "times new roman", times, serif; }
}      